<footer>
    <div class="contact">
        <div class="contact-text">
            <div class="contact-items">
                <h2>Contact Us</h2>
                <input type="text" placeholder="Enter Your Name">
                <input type="text" placeholder="Enter Your Email">
                <textarea cols="20" rows="20" placeholder="Your Message"></textarea>
                <a href="#"> Submit</a>
            </div>
        </div>
    </div>
</footer>