<header>
     <div class="top-bar">
           <div class="logo">Logo</div> 
           <div class="menu">
               <ul>
                   <li><a href="/">Home</a></li>
                 <li><a href="/articles-view">Short Stories</a></li>
                   <li><a href="/articles">Share Stories</a></li>
                   <li><a href="/galleri">Galleri</a></li>  
               </ul>
           </div>
       </div>
</header>