<div class="container dashboard">

    <div class="dash_nav">

        <!--  HOME -->
        <div class="item">
            <a href="/">
                <i class=" fa fa-home" aria-hidden="true"></i>
            </a>
        </div>

        <!-- ARTICLES -->
        <div class="item">
            <a href="/articles-view">
                <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>
            </a>
        </div>
        <!--  ARTICLE-FORM -->
        <div class="item">

            <a href="/articles">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </div>
        <!-- Galleri  -->
        <div class="item">
            <a href="/galleri">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
        </div>
    </div>