 <div class="container dashboard">

        <div class="dash_nav">
            <!--  HOME --> 
            <div class="item">
                <a href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </div>
            <!--  REVIEWS --> 
            <div class="item">
                <a href="/reviews">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                </a>
            </div>
            <!--  ARTICLES --> 
          
            <div class="item">
                
                <a href="/articles">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            </div>

            <!--  LOGOUT --> 
            <div class="item">
                <a href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        