<div class="banner">
    <div class="banner-text">
        <div class="banner-text-items">
            <h2 class="head-text"> Banner Text heading</h2>
            <p>
                Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden
                1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning
                af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas
                i elektronisk typografi uden væsentlige ændringer.
            </p>
        </div>
    </div>
</div>

<!-- -->
<div class="main-content">
    <div class="main1">
        <h2>Main Heading One</h2>
        <p>
            Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden
            1500-tallet.
        </p>
    </div>
    <div class="main1">
        <h2>Main Heading Two</h2>
        <p>
            Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden
            1500-tallet.
        </p>
    </div>
    <div class="main1">
        <h2>Main Heading Three</h2>
        <p>
            Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden
            1500-tallet.
        </p>
    </div>
</div>
